{% assign techlist = product.metafields.my_fields.technology | split: ',' %}
{% assign entertainList = product.metafields.my_fields.entertainment | split: ',' %}
<div class="product-accordion">
    <button class="accordion">Technology</button>
    <div class="panel">
        {% for tec in techlist %}
        <p>- {{tec}}</p>
        {% endfor %}
    </div>
    <button class="accordion">Entertainment</button>
    <div class="panel">
    {% for e in entertainList %}
        <p>- {{e}}</p>
        {% endfor %}
    </div>
</div>

<script>
    // Product Accordion Technology and Entertainment
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
        } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        }
    });
    }
</script>